# For guestbook
POSTGRES_URL="postgres://"

NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
NEXT_PUBLIC_EMAILJS_TEMPATE_KEY=
NEXT_PUBLIC_EMAILJS_SERVICE_KEY=

## Your hosted url
HOSTED_URL=https://abt-yogesh.vercel.app
## Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=

## Create a GitHub OAuth app here: https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app
OAUTH_CLIENT_KEY=
OAUTH_CLIENT_SECRET=


AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
