@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7, 26.8%, 83.9);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  .hero-ring{
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5 

  }
}

@layer utilities{
  .container{
    @apply lg:max-w-5xl
  }
}

/* 3d button style */
.button {
  height: 50px;
  position: relative;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
.top {
  width: 100%;
  height: 100%;
  font-family: poppins;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7mm;
  outline: 2px solid rgb(36, 38, 34);
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}
.bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgb(229, 229, 199); */
  top: 10px;
  left: 0;
  border-radius: 7mm;
  outline: 2px solid rgb(36, 38, 34);
  z-index: -1;
}
.bottom::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 9px;
  background: rgb(36, 38, 34);
  bottom: 0;
  left: 15%;
}
.bottom::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 9px;
  background: rgb(36, 38, 34);
  bottom: 0;
  left: 85%;
}
.button:active .top {
  transform: translateY(10px);
}
.button::before {
  position: absolute;
  content: "";
  width: calc(100% + 2px);
  height: 100%;
  /* background: rgb(140, 140, 140); */
  top: 14px;
  left: -1px;
  border-radius: 7mm;
  outline: 2px solid rgb(36, 38, 34);
  z-index: -1;
}
.top::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  transform: skewX(30deg);
  left: -20px;
  transition: 0.25s;
}
.button:active .top::before {
  left: calc(100% + 20px);
}

.cursor {
  display: inline-block;
  width: 1ch;
  animation: flicker 0.5s infinite;
  margin-bottom: 4px;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
